body {
  font-family: Arial, sans-serif;
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
  color: #000;
}

.container {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.btn {
  margin-right: 10px;
}

#connect {
  background-color: #00ff00;
  color: #000;
}

#disconnect {
  background-color: #ff0000;
  color: #fff;
}

#send {
  background-color: #0000ff;
  color: #fff;
}

.form-label {
  font-weight: bold;
}

.table {
  width: 100%;
  background-color: #fff;
}

.table th {
  font-weight: lighter;
}

.table td {
  vertical-align: middle;
}